.navbar {
    padding: 20px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}

.button {
    border: 1px solid rgb(13, 19, 33);
    ;
    padding: 8px;
    border-radius: 8px;
}

.button:hover {
    background-color: #ff8c00;
}

.title {
    font-size: 28px;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}

.hero {
    background-image: url('./assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    padding: 20px;
}

.hero-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-content .btn:hover {
    background-color: #ff8c00;
}

.container {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 60px;
    margin: 20px;
    text-align: center;
}

.layout {
    background: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 20px;
}

.layout1 {
    background: white;
    padding: 40px;
    display: flex;
    gap: 20px;
    justify-content: start;
    border-radius: 20px;
    margin-top: 20px;
}

.text {
    text-align: left;
    position: static;
    width: 477px;
    height: 220px;
    margin-top: 30px;
}

.inspire {
    text-align: center;
}

.video {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.video iframe {
    width: 560px;
    height: 315px;
    border-radius: 20px;
}

.target {
    text-align: center;
}

.goal {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: left;
    margin-top: 20px;
}

.html {
    border-radius: 20px;
    background: rgba(255, 76, 30, 0.05);
    width: 300px;
    height: 200px;
    padding: 40px;
}

.css {
    border-radius: 20px;
    background: rgba(0, 76, 232, 0.05);
    width: 300px;
    height: 200px;
    padding: 40px;
}

.js {
    border-radius: 20px;
    background: rgba(255, 223, 0, 0.05);
    width: 300px;
    height: 200px;
    padding: 40px;
}

.learn {
    text-decoration: underline;
    font-weight: 600;
}